[style]@import url(https://fonts.googleapis.com/css?family=Righteous); body{ font-family: 'Righteous', cursive; }[/style]
[style]div.menu,div.members_menu{background-color:#333!important;color:white!important;}/*
*/.content{background-color:#c0edfa!important;}/*
*/*{border: 0!important;}/*
*/.copyright{background-color:#c0edfa!important;color:#333!important;border: 0 !important;}/*
*/hr,.signature,.edit_warning,#comments img,.navblock,img.header,img#header{display:none;}/*
*/.navblock{border-radius:25px !important;}/*
*/body{background-color:#77aaff!important;}/*
*/.titlebox,td,tr{background:none;}/*
*/a{color:#77aaff!important;}/*
*/img.header{height:0px;}/*
*/.titlebox{background-image:none!important;}/*
*/.titlebox{background-color:#babeee!important;color:white;}/*
*/.commentbox_1,.commentbox_2,.post_comment textarea{background-color:black!important;color:white!important;text-align:left!important;}/*
*/span{color:#333!important;}/*
*/.post_comment{background:#bcbcbc!important;color:white!important;}/*
*/span.posted{display:none;}.signature{display:none;height:0px}span.prevpage{display:none;}span.nextpage{display:none;}a.newpage{display:none;}div.edit_warning{display:none;height:0px}.edit_comment_box,.edit_options img,.edit_options input,.edit_options input:hover{display:none;}/*
*/.commentbox_1:hover{background-color:#99ccff!important;}/*
*/.commentbox_2:hover{background-color:#99ccff!important;}/*
*/body,a:hover{cursor:url(http://cur.cursors-4u.net/cursors/cur-2/cur118.cur),progress!important;}/*
*/div{text-align:center; color:#333 !important;}/*
*/.titlebox{padding-top:20px !important;padding-bottom:20px!important;}/*
*/.commentbox_1,.commentbox_2,.titlebox,.post_comment{margin-left:auto!important;margin-right:auto!important;max-width:200px!important;}/*
*/.content,div.menu,div.members_menu{border-radius:10px;}/*
*/iframe, ins,h2 img{display:none;}/*
*/div.titlebox,.commentbox_1,.commentbox_2,.post_comment{width:350px!important;}/*
*/.post_comment textarea{width:180px!important;}/*
*/.friends_spoiler_full{width:200px; margin-left: auto; margin-right: auto;}/*
*/div[style*='#scrollbar']{width:200px; height: 275px; overflow: scroll; margin-left:auto!important;margin-right:auto!important;}/*
*/div[style*='#name']{color:#99ccff!important; font-size:3.5em;}/*
*/div[style*='#links']{top: 5px; padding: 5px; width: 300px; height: 55px; background-color:white; border-radius:10px; font-size: 14px;}/*
*/::-webkit-scrollbar{width:15px;left:0 !important;}/*
*/::-webkit-scrollbar-track{background-color:#333!important;}/*
*/::-webkit-scrollbar-thumb{background-color:#0099cc!important; border:1px solid white}/*
*/.commentbox_1,.commentbox_2,h2 img{-webkit-transition: 0.2s; -moz-transition: 0.2s; -o-transition: 0.2s; transition: 0.2s;}/*
*/.commentbox_1:hover{padding-left: 15px;}/*
*/.commentbox_2:hover{padding-left: 15px;}/*
*/#total_new_pms{color:#77aaff!important;}/*
*/*{border:0!important;}/*
*/iframe, ins,#img.header,header{display:none;}/*
*/.loginbar_wrapper{position:fixed !important; left:auto !important; right:5px!important; z-index:10;background-color:transparent!important}/*
*/img[src*=projectwonderful],a[href*=projectwonderful]{display:none;}/*
*/.content:before{content:url('https://cdn.discordapp.com/attachments/394268460865028096/519986462008279070/avatar.png');}/*
*/
@import url('https://fonts.googleapis.com/css?family=Righteous'); body{ font-family: 'Righteous', cursive; }/*[/style]
